<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
